<h3>Login</h3>

<form action="/user/login" method="post">
    <label for="name">Nome de Usuário: </label>
    <input type="text" name="name" placeholder="Digite seu nome aqui" required>
    <label for="password">Senha: </label>
    <input type="password" name="password" placeholder="Digite sua senha aqui" required>

    <button type="submit">Enviar</button>
    
</form>